*{
    box-sizing: border-box;
}

#container{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    height: 75px;
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 1;
    position:sticky;
    top: 0;
    animation: navbar 3s forwards;
}
@keyframes navbar {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo img{
    padding-left: 120px;
}
.nav-coll{
    padding-right: 100px;
}

.nav-coll a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #191919;
}

.started{
    font-family: inherit;
    color: white;
    background-color: #191919;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}
.cont-landing{
    background-color: #ffc017;
    display: flex;
    border-bottom: 1px solid black;
}
.landing{
    display: flex;
    padding-left: 130px;
    flex-direction: column;
    justify-content: center;
    animation: drive 5s;
    animation-fill-mode: forwards;

}
@keyframes drive {
    from {
      transform: translateY(-200px);
    }
    to {
      transform: translateY(center);
    }
  }

.landing h2{
    font-size:102px;
    letter-spacing: -6px;
    margin-bottom: 30px;
    font-family: "Spectral", serif;
}
.landing p{
    font-size: 24px;
}
.start-reading{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #191919;
    margin-top: 40px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
}
.card{
    display: flex;
    height: 100px;
    width: 400px;
    margin-bottom: 25px;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.number{
    width: 30px;
    font-size: 30px;
    margin-right: 15px;
    color:rgba(230, 230, 230, 1);
    font-weight: 500;
}

.articolo p{
    margin-top: 5px;
    font-size: 16px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.articolo p:nth-child(4){
    color: rgb(174, 174, 174);
    font-size: 13px;
}

.articolo img{
    float: left;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.articolo h2{
    clear: both;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

.titolo-articoli{
    display: flex;
    padding-left: 120px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.titolo-articoli h2{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
}

.BgColour {
    transition-duration: 1s;
    color: aqua;
    background-color: white;
}
.BgColour .started{
    background-color: green;
}
section{
    margin-left: 50px;
}

.contenuto-destra img{
    height: 134px;
    width: 200px;
    padding-bottom:10px;
}
.contenuto-destra{
    margin-right: 40px;
}

.contenuto{
    display:flex;
    padding-top: 56px;
    color: #4a4747;
    column-gap: 5%;
}
.contenuto-sinistra{
    margin-left: 100px;
}
.contenuto-sinistra p{
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
    overflow: hidden;
    color: rgba(117, 117, 117, 1);
}
.contenuto-sinistra h1{
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
    color: #191919;
}
.contenuto-sinistra .img-name{
    display: flex;
}
.contenuto-sinistra .img-name img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.contenuto-sinistra .img-name h4{
   font-size: 13px;
   line-height: 16px;
   font-weight:700;
   padding-top: 5px;
}
.star{
    display: flex;
    margin-top: 12px;
}
.star p{
    font-size: 13px;
}

.evident{
    background-color: rgba(242, 242, 242, 1);
    padding: 5px 8px;
    border-radius: 100px;
    font-size: 13px;
}
.card2{
    display:flex;
    justify-content: space-between;
    column-gap: 28px;
    margin-bottom: 48px;
}

aside{
    width: 800px;
    margin-right: 25px;
    padding-right: 150px;
    align-self: flex-start;
    position: sticky;
    top: 100px;
}
aside h3{
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
}
aside button{
    font-size: 13px;
    height: 30px;
    margin: 5px;
    background-color: white;
    color: rgba(117, 117, 117, 1);
    letter-spacing: 0.25px;
    border: 0.2px solid;
    border-color: #7e7b7b;
}

footer {
    padding-top: 24px;
    border-top: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    flex-wrap: wrap;
}
footer a{
    font-size: 14px;
    line-height: 20px;
    margin: 5px;
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
}

@media screen and (max-width: 480px){
    .logo img{
        padding-left: 10px;
    }
    .nav-coll a{
        display: none;
    }
    .M-img{
        display: none;
    }
    .contenuto{
        display:flex;
        flex-direction: column-reverse;
        padding: unset;
    }
   
    .contenuto-sinistra h1{
        font-size: 15px;
    }
    .contenuto-destra{
        height: 10px;
        margin-right: 10px;
    }
    .titolo-articoli{
        display: flex;
        padding-left: 10px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    aside{
        margin-bottom: 20px;
        margin-top: 20px;
        width: unset;
        align-self: unset;
        position: unset;
        top: unset;
        margin-right: unset;
        padding-right: unset;
    }
    .landing h2{
        font-size:60px;
        margin-bottom: 30px;
    }

    .landing{
        height: 300px;
        padding-left: 10px;
    }

    .landing p{
        font-size: 18px;
    }

    .contenuto-sinistra{
        margin-left: unset;
    }
    .contenuto-sinistra p{
        font-size: 10px;
        line-height: 10px;
        padding-top: 3px;
        overflow: hidden;
    }
    .contenuto-sinistra h1{
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        color: #191919;
    }
    .contenuto-sinistra .img-name img{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    .contenuto-sinistra .img-name h4{
       font-size: 13px;
       line-height: 16px;
       font-weight:700;
       padding-top: 5px;
    }
    section{
        margin-left:7px;
    }
    .contenuto-destra img{
        height: 115px;
        width: 100px;
        padding-bottom:10px;
    }
    .contenuto-destra{
        margin-right: 5px;
    }
    .evident{
        padding: 3px 5px;
        border-radius: 100px;
        font-size: 10px;
    }
    .card2{
        column-gap: 10px;
        margin-bottom: 20px;
    }   
    .contenuto-sinistra .img-name img{
        width: 20px;
        height: 20px;
    }
    .nav-coll {
        padding-right: 5px;
    }
}


@media screen and (min-width: 481px) and (max-width:1024px){
    .logo img{
        padding-left: 15px;
        width: 100px;
    }
    .nav-coll{
        padding-right: 15px;
    }
    .nav-coll a{
        padding-left: 3px;
        padding-right: 3px;

    }
    .started{
        border-radius: 20px;
        height: 35px;
        width: 75px;
        font-size: small;
    }
    .landing{
        padding-left: 40px;
    }
    .landing h2{
        font-size:80px;
        margin-bottom: 20px;
    }
    .landing p{
        font-size: 20px;
    }
    .start-reading{
        font-size: 17px;
        margin-top: 30px;
        height: 40px;
        width: 150px;
        border-radius: 20px;
    }
    .card{
        height: 100px;
        width: unset;
        margin-bottom: 25px;
    }
    article{
        justify-content: unset;
    }
    
    .contenuto{
        display:flex;
        flex-direction: column-reverse;
    }
    .contenuto-sinistra{
        margin-left: unset;
    }
    .contenuto-destra{
        margin-right: unset;
    }
    aside{
        margin-bottom: 20px;
        margin-top: 20px;
        width: unset;
        align-self: unset;
        position: unset;
        top: unset;

    }
}